/* build time:Fri Jan 30 2026 22:09:16 GMT+0800 (中国标准时间)*/
.fish_container{z-index:-1;width:"100%";height:"160px";margin:0;padding:0}#footer-wrap{position:absolute;text-align:center;padding:20px 20px;top:0;right:0;left:0;bottom:0}
/* rebuild by neat */